<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>

    <meta name="description" content="this is my page"></meta>

    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet" href="../js/uploadify/uploadify.css">
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
<div class="pull-left">
    <div class="form-group form-inline">
        <div class="btn-group">

            <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                    class="fa fa-refresh"></i> 刷新
            </button>
        </div>
    </div>
</div>

<div class="box-tools pull-right">
    <div class="has-feedback">
        订单号：<input id="orderNum">
        <button class="btn btn-default" onclick="javascript:cha()">查询</button>

    </div>
</div>







<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">商品信息</h3>
            </div>
            <div class="modal-body">
                <form method="post" id="ff">
                    <input type="hidden" name="id" id="bid">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>商品名称</td>
                            <td><input class="form-control" placeholder="商品名称" name="title" id="qname"></td>
                        </tr>
                        <tr>
                            <td>价格</td>
                            <td><input class="form-control" placeholder="价格" name="price" id="memo">
                            </td>
                        </tr>
                        <tr>
                            <td>数量</td>
                            <td>
                                <input class="form-control" placeholder="数量" name="stock" id="stock">
                            </td>
                        </tr>

                        <tr>
                            <td>状态</td>
                            <td><input class="form-control" placeholder="状态" name="status" id="status">
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


<table class="table" id="myTable"></table>
</body>
<script type="text/javascript">
    $(function () {
        initTable();
        /*showSel();*/
    })
    function cha() {
        $("#myTable").bootstrapTable("refresh", {
            query: {
                ordernum:$("#orderNum").val(),
            }
        })
    }
    function chakan(id) {
        $.ajax({
            url: "goodshuix",
            type: "post",
            data: {id: id},
            success: function (data) {
                console.log(data)
                $("#bid").val(data.id);
                $("#qname").val(data.title);
                $("#memo").val(data.price);
                $("#stock").val(data.stock);
                $("#status").val(data.status);


            }

        })
    }
  /*  function add() {
        $.ajax({
            url: "wadd",
            type: "post",
            data: $("#ff").serialize(),
            success: function () {
                alert("成功")
                $("#myTable").bootstrapTable("refresh");

            }
        })
    }
    function deletePatientById(id) {
        $.ajax({
            url: "wdelete",
            data: {id: id},
            type: "post",
            success: function () {
                $("#myTable").bootstrapTable("refresh");
            }
        })
    }
*/
    /*


       function showSel(){
           $.ajax({
               "type" : 'get',
               "url": "liebiao",
               "dataType" : "json",
               "success" : function(data) {

                   var opts = "";
                   for( var i = 0 ; i < data.length; i++ ){

                       opts += "<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                   }
   // 查询界面
                   $("#addid").append(opts);

               }
           });
       }*/



    function initTable() {
        $("#myTable").bootstrapTable({
            url: "findorderx",
            columns: [
                {checkbox: true},
                {field: 'ordernum', title: '订单号', align: 'center'},
                {field: 'createtime', title: '下单时间', align: 'center'},
                {field: 'paymenttime', title: '付款时间', align: 'center'},
                {field: 'paytype', title: '付款方式', align: 'center'},
                {field: 'tool', title: '操作', align: 'center',
                    formatter: function (value, rows, index) {
                        var str = "";
                        str += "<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModal' onclick='javascript:chakan(" + rows.id + ")'>查看对应的商品</button>";
                        return str;
                    }
                },
            ],
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
        });
    }

    /*
        $("#uploadImg").uploadify({
            'swf': '../js/uploadify/uploadify.swf',
            'uploader': '../goods/tu',
            'queueID': 'fileQueue',
            'fileObjName' : 'imgfile',
            'buttonText': '上传头像',
            'auto': true,
            'multi': true,
            'removeCompleted': true,
            'fileExt': '*.jpg;*.gif;*.png',
            'cancelImg': '../js/uploadify/uploadify-cancel.png',
            'removeTimeout' : 1,
            'uploadLimit':  -1,
            'fileTypeExts': '*.jpg;*.png',
            'onUploadSuccess':function(file,data,response){
                var imgurl = "http://<%= request.getServerName()%>:<%=request.getServerPort()%>../upload/"+eval(data);
                $("#add_img").attr("src",imgurl);
                $('#hideImg').val(eval(data));
            }
        });*/
</script>
</html>