<?xml version="1.0" encoding="UTF-8"?>
<!-- 声明：1、约束  2、提示 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 根元素 -->
<!-- namespace ：命名空间    配置当前mapper文件跟哪个dao接口对应-->
<mapper namespace="com.jk.mapper.TcarMapper">
    <!--广告列表-->
    <!-- 总条数 -->
    <select id="findTotal" resultType="java.lang.Long">
        select count(*) from t_carouse t left join adposition x on t.ad_id=x.id
        <where>
            <if test="tcarouse.title != null and tcarouse.title != ''">
                t.title like concat('%','${tcarouse.title}','%')
            </if>
        </where>
    </select>

    <!-- 分页 -->
    <select id="findPage" resultType="Tcarouse">
        <bind name="key_off" value="(currPage - 1)*pageSize"/>
        select t.*,x.name yewu,x.createdDate yewu2 from t_carouse t left join adposition x on t.ad_id=x.id
        <where>
            <if test="tcarouse.title != null and tcarouse.title != ''">
                t.title like concat('%','${tcarouse.title}','%')
            </if>
        </where>
        limit ${key_off},${pageSize}
    </select>

    <!--查询广告类型表-->
    <select id="danbiao" resultType="Adposition">
         select * from adposition
    </select>

    <insert id="add" parameterType="Tcarouse" >
        insert into t_carouse(title,url,ad_id,status) values(#{title},#{url},#{adid},#{status})
     </insert>

    <!--广告表查询-->
    <select id="guang" resultType="Tcarouse">
         select t.*,x.name yewu,x.createdDate yewu2 from t_carouse t left join adposition x on t.ad_id=x.id
        <where>
            <if test="tcarouse.title != null and tcarouse.title != ''">
                t.title like concat('%','${tcarouse.title}','%')
            </if>
        </where>
    </select>

    <delete id="del">
        delete from t_carouse where si_id=#{siid}
    </delete>

    <select id="huixian" parameterType="int" resultType="Tcarouse">
          select * from t_carouse where si_id=#{siid}
    </select>

    <update id="update">
         update t_carouse set title=#{title},url=#{url},ad_id=#{adid},status=#{status} where si_id = #{siid}
    </update>




    <!--广告分类表查询-->
    <select id="gtype" resultType="Adposition">
        select * from adposition
        <where>
            <if test="adposition.name != null and adposition.name != ''">
                name like concat('%','${adposition.name}','%')
            </if>
        </where>
    </select>

    <insert id="gadd" parameterType="Adposition" >
        insert into adposition(name,description,createdDate) values(#{name},#{description},CURDATE())
    </insert>

    <delete id="gdelete">
        delete from adposition where id=#{id}
    </delete>

    <select id="ghuixian" parameterType="int" resultType="Adposition">
          select * from adposition where id=#{id}
    </select>

    <update id="gupdate">
         update adposition set name=#{name},description=#{description} where id = #{id}
    </update>


   <!-- 查询订单号所对应的商品-->
    <select id="findorder" resultType="Order">
        select x.*,y.title yewu,y.price yewu2,y.stock yewu3,y.status yewu4 from mi_order x left join goods_spu y on x.commodityid=y.id
        <where>
            <if test="order.ordernum != null and order.ordernum != ''">
                x.orderNum like concat('%','${order.ordernum}','%')
            </if>
        </where>
    </select>
    <!--查询商品表-->
    <select id="findgoods" resultType="Goods">
         select * from goods_spu
    </select>
    <!--商品表回显-->
    <select id="goodshui" parameterType="int" resultType="Goods">
          select * from goods_spu where id=#{id}
    </select>


</mapper>