<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script src="../js/js/jquery-1.9.1.min.js"></script>


    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/js/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/js/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!-- 引入树插件的css和js文件 -->
    <link rel="stylesheet" href="../js/js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="../js/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>

    <!-- 引入选项卡插件的css和js文件 -->
    <link rel="stylesheet" href="../js/js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>

</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">小米后台管理系统</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-blackboard"></span>客户端</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-phone"></span>移动端</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>登录</a></li>
            <li><a  href="../logout"><span class="glyphicon glyphicon-log-out">注销</span></a>
        </ul>
    </div>
</nav>


<!-- 左右布局 -->
<div class="container-fluid">
    <div class="row">
        <!-- 左部分 -->
        <div class="col-md-2">
            <!-- 树 -->
            <div id="myTree"></div>
        </div>

        <!-- 右部分 -->
        <div class="col-md-10">
            <!-- 选项卡 -->
            <div id="myTabs">
                <!-- 新选项卡 ：卡头-->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡下内容 -->
               <div class="tab-content" >
                  <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
   $(function(){
        initTree();//初始化加载树

    })

    //初始化加载树
    function initTree(){
        $.ajax({
            url:"../user/queryTree",
            type:"get",
            success:function(data){
                //加载树
                $('#myTree').treeview({
                    data:data,
                    onNodeSelected:function(event, node) {//选中节点事件：操作选项卡
                        document.getElementById("container").style.display = "none";
                        //操作选项卡
                        $.addtabs({iframeHeight: 550});//设置高度
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            url:node.href
                        });
                    }
                })
            }
        });
    }
   $.ajax({
        url:"../goods/highcharts",
        success:function(result){
            $(document).ready(function() {
                var chart = {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                };
                var title = {
                    text: '各类型商品销量所占比例'
                };
                var tooltip = {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                };
                var plotOptions = {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                };
                var str=[];

                var arr=[];
                var aa=result.length

                for (var i=0;i<result.length;i++){
                    arr[i] = new Array();
                    for(var j=0; arr[i]<2;j++) {
                        arr[i][0] = result[i].title;
                        arr[i][1] = result[i].rate;
                    }


                };

                var series= [{
                    type: 'pie',
                    name: 'Browser share',
                    data:arr
                }];

                var json = {};
                json.chart = chart;
                json.title = title;
                json.tooltip = tooltip;
                json.series = series;
                json.plotOptions = plotOptions;
                $('#container').highcharts(json);
            });
        }
    })
</script>
</html>